
.ant-carousel .slick-slide {
    text-align: center;
    align-items: center;
    height: 180px;
    
    background: rgb(90, 90, 90);
    overflow: hidden;
    
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }