extends layout
block content 
    .login-panel 
        img(src="image/login-img.jpg")
        include include/login-form 
    .register-panel 
        img(src="image/register-img.png")
        include include/register-form