@import "_config.css";

header{
    position: relative;
    display: block;
    width: 100%;
    background: black;
    color: white;
    height: 90px;
}

header .logo{
    position: absolute;
    top: 35%;
    left: 15px;
}

header nav,
nav ul,
nav ul li{
    margin: 0;
    padding: 0;
}

header nav{
    position: absolute;
    top: 35%;
    right: 15px;
}

header nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.last{
    margin: 0;
}

header nav ul li a {
    font-size: 19px;
    line-height: normal;
    color: white;
}
.riv4l {
    font-size: 120px;
    font-weight: bold;

}
.riv4l #black{
    color: black;
}
.riv4l #orange{
    color: orangered;
}
.niveau1 {
    font-size: 40px;
}
